@page
@model Alfasoft.Pages.Account.LoginModel
@{
}



<div class="container border" style="padding:20px">
    <form method="post">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="credentials.Username"></label>
            </div>
            <div class="col-5">
                <input asp-for="credentials.Username" class="form-control" />
            </div>
            <span asp-validation-for="credentials.Username" class="text-danger"></span>

        </div>        
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="credentials.Password"></label>
            </div>
            <div class="col-5">
                <input asp-for="credentials.Password" class="form-control" />
            </div>
            <span asp-validation-for="credentials.Password" class="text-danger"></span>
        </div>   
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login"/>
            </div>

        </div>
    </form>

</div>